
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
main {padding: 1%; display: flex; flex-direction: column;}
.container { max-width: fit-content; margin-left: auto; margin-right: auto; text-align: center; }
.button { width: max-content; height: max-content; padding: .5%; background: lightskyblue; opacity: .9; border-radius: .5em; margin-top: 2%; margin-left: auto; margin-right: auto; }
.button:hover { transform: scale(1.05); }
a { text-decoration: none; color: black; font-size: 3ch; }
#page-title { font-size: 4ch; }
#not_found { margin: 0; font-size: 15ch; }
#desc { margin: 0; font-size: 4ch; }